<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="car-form">
      <fieldset>
        <legend>자동차 조회</legend>
        <div>
          <input id="carnum" type="text" placeholder="차 번호" required />
        </div>
        <button type="submit" onclick="location.href='car'">조회</button>
      </fieldset>
    </form>

    <a href="/signup">회원가입 페이지 이동</a>

    <a href="/login">로그인 페이지 이동</a>

    <a href="/account">계좌번호 등록 페이지 이동</a>

    <table>
      <thead>
        <tr>
          <th>차번호</th>
          <th>시간</th>
          <th>돈</th>
          <th>장소</th>
        </tr>
      </thead>
      <tbody>
        {% for car in cars %}
        <tr>
          <td>{{car.CarNum}}</td>
          <td>{{car.Time}}</td>
          <td>{{car.Money}}</td>
          <td>{{car.Spot}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    Hello {{user.username}}! Id {{user.id}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/select.js"></script>
  </body>
</html>
