<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      font-family: "Asap", sans-serif;
      background-color: rgb(254, 251, 240);
      border: 1px solid black;
    }
    th, td {
      border: 1px solid black;
    }
  </style>
  <body>
    <script>
      window.onload = function () {
        setTimeout(function () {
          location.reload();
        }, 1000);
      };
    </script>

    <table>
      <thead>
        <tr>
          <th>차번호</th>
          <th>들어온 시간</th>
          <th>나간 시간</th>
          <th>머문 시간</th>
          <th>돈</th>
          <th>장소</th>
        </tr>
      </thead>
      <tbody>
        {% for car in cars %}
        <tr>
          <td>{{car.CarNum}}</td>
          <td>{{car.EnterTime}}</td>
          <td>{{car.ExitTime}}</td>
          <td>{{car.Time}}</td>
          <td>{{car.Money}}</td>
          <td>{{car.Spot}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
